*.css          text eol=lf
*.go           text eol=lf
*.gohtml       text eol=lf
*.html         text eol=lf
*.js           text eol=lf
*.md           text eol=lf
*.service      text eol=lf
*.sh           text eol=lf
*.timer        text eol=lf
*.txt          text eol=lf
*.yaml         text eol=lf
.gitattributes text eol=lf
.gitignore     text eol=lf
COPYING        text eol=lf
LICENSE        text eol=lf
